{% extends 'bootstrap_4_layout.html.twig' %}

{%- block checkbox_widget -%}
  <div class="checkbox-wrapper">
    {{ parent() }}
  </div>
{%- endblock checkbox_widget -%}
{#
{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="fa fa-warning"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %} #}


{# Rows #}

{% block form_row -%}
  {%- if compound is defined and compound -%}
    {%- set element = 'fieldset' -%}
  {%- endif -%}
  <{{ element|default('div') }} class="form-group">
  {{- form_label(form) -}}
  {{- form_widget(form) -}}
  {% block form_label_errors %}{{- form_errors(form) -}}{% endblock form_label_errors %}
  </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label -%}
  {% if label is not same as(false) -%}
    {%- if compound is defined and compound -%}
      {%- set element = 'legend' -%}
      {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
    {%- else -%}
      {%- set label_attr = label_attr|merge({for: id}) -%}
    {%- endif -%}
    {% if required -%}
      {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif -%}
    {% if label is empty -%}
      {%- if label_format is not empty -%}
        {% set label = label_format|replace({
          '%name%': name,
          '%id%': id,
        }) %}
      {%- else -%}
        {% set label = name|humanize %}
      {%- endif -%}
    {%- endif -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
  {%- else -%}
    {%- if errors|length > 0 -%}
      <div id="{{ id }}_errors" class="mb-2">
        {{- form_errors(form) -}}
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endblock form_label %}

{% block blockquote_widget %}

  <blockquote>
    asfasfadsfdafsd
    {{ data|raw }}
  </blockquote>
{% endblock %}


{% block fieldset_form_row -%}
  <fieldset class="form-group">
    asdfasfasd
    <div class="row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
      {{- form_label(form) -}}
      <div class="{{ block('form_group_class') }}">
        {{- form_widget(form) -}}
      </div>
    </div>
    {##}</fieldset>
{%- endblock fieldset_form_row %}
