{% extends '@App/Pratiche/pdf/parts/base_logo.twig' %}

{% block pdf_content %}
  <h1>Risposta a richiesta di integrazione</h1>

  <p>
    <strong>Servizio</strong>:{{ pratica.servizio.fullName }}<br>
    <strong>Richiedente</strong>: {{ pratica.user.fullName }}<br>
    <strong>Numero richiesta</strong>: {{ pratica.id }}<br>
    {% if pratica.numeroProtocollo %}
      <strong>Numero protocollo</strong>: {{ pratica.numeroProtocollo }}
    {% endif %}
  </p>

  {# Richiesta integrazione #}
  {% if richiesta_integrazione.description %}
    <h3>Note di richiesta del {{ richiesta_integrazione.createdAt | date('d/m/Y') }}</h3>
    {{ richiesta_integrazione.description|raw }}
  {% endif %}

  {# Integrazioni (solo Peo) #}
  {% if integrazioni|length > 0 %}
    <h3>Integrazioni</h3>
    <ul>
      {% for i in integrazioni %}
        <li>{{ i.originalFilename }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {# Messaggi #}
  {% set attachments = [] %}
  {% if messages|length > 0 %}
    <h3>Messaggi</h3>
    <ul class="list-unstyled">
      {% for message in messages %}
        <li>
          <p>Da
            <strong>
              {{ (message.author is not null) ? message.author.fullName : ente.name }}
            </strong>
            il {{ message.createdAt | date(ocsdc_default_datetime_format) }}
          </p>
          {{ message.message|purify }}
          {% if message.attachments|length > 0 %}
            <p>Allegati:<br>
            {% for attachment in message.attachments %}
              {% set attachments = attachments|merge([attachment]) %}
              <small>{{ attachment.description }}</small>
            {% endfor %}
            </p>
          {% endif %}
          <hr>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if attachments|length > 0 %}
    <h3>Allegati</h3>
    <table class="attachments">
      <thead>
        <tr>
          <th>Nome del file</th>
          <th>Hash del file</th>
        </tr>
      </thead>
      <tbody>
      {% for a in attachments %}
        <tr>
          <td>{{ a.originalFilename }}</td>
          <td>{{ a.hash }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
  {% endif %}


{% endblock %}
