{% extends '@App/Pratiche/pdf/parts/base_logo.twig' %}

{% block pdf_content %}
  <h1>Richiesta di integrazione annullata</h1>

  <p>
    <strong>Servizio</strong>:{{ pratica.servizio.fullName }}<br>
    <strong>Richiedente</strong>: {{ pratica.user.fullName }}<br>
    <strong>Numero richiesta</strong>: {{ pratica.id }}<br>
    {% if pratica.numeroProtocollo %}
      <strong>Numero protocollo</strong>: {{ pratica.numeroProtocollo }}
    {% endif %}
  </p>

  {# Richiesta integrazione #}
  {% if richiesta_integrazione.description %}
    <h3>Note di richiesta del {{ richiesta_integrazione.createdAt | date('d/m/Y') }}</h3>
    {{ richiesta_integrazione.description|raw }}
  {% endif %}

  <h4>La richiesta di integrazioni è stata annullata da {{ pratica.operatore.fullName }}</h4>


{% endblock %}
