{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.22/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.22/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.min.js"></script>
  <script>
$(document).ready(function () {
$('#meetings_table').DataTable( {
    "columnDefs": [{
      "targets": [0],
      "orderData": [0, 1]
    },
    {
      "targets": [1],
      "orderData": [1, 0]
    }],
    "language": {
      "sEmptyTable": "Nessun dato presente nella tabella",
      "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
      "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
      "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
      "sInfoPostFix": "",
      "sInfoThousands": ".",
      "sLengthMenu": "Visualizza _MENU_ elementi",
      "sLoadingRecords": "Caricamento...",
      "sProcessing": '<div class="progress-spinner progress-spinner-double progress-spinner-active">\n' +
        '        <div class="progress-spinner-inner"></div>\n' +
        '        <div class="progress-spinner-inner"></div>\n' +
        '        <span class="sr-only">Caricamento...</span>\n' +
        '      </div>',
      "sSearch": "Ricerca",
      "sZeroRecords": "La ricerca non ha portato alcun risultato.",
      "oPaginate": {
        "sFirst": "Inizio",
        "sPrevious": "Precedente",
        "sNext": "Successivo",
        "sLast": "Fine"
      },
      "oAria": {
        "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
        "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
      },
    },
    dom: 'Bfrtip',
    searching: true,
    paging: true,
    pagingType: 'simple_numbers',
  buttons: {
    dom: {
      button: {
        className: 'btn btn-primary mr-2' //Primary class for all buttons
      }
    },
    buttons: [
      {
        extend: 'excel',
        text: '<i class="fas fa-file-excel"></i><span class="d-none d-xl-inline-block">&nbsp Esporta Excel</span>',
        title: 'Appuntamenti',
        className: 'btn-primary'
      },
      {
        extend: 'csv',
        text: '<i class="fas fa-file-csv"></i><span class="d-none d-xl-inline-block">&nbsp Esporta CSV</span>',
        title: 'Appuntamenti',
        className: 'btn-primary'
      },
      {
        extend: 'pdf',
        text: '<i class="fas fa-file-pdf"></i><span class="d-none d-xl-inline-block">&nbsp Esporta PDF</span>',
        title: 'Appuntamenti',
        pageSize: 'LEGAL',
        className: 'btn-primary'
      },
      {
        extend: 'print',
        text: '<i class="fas fa-print"></i><span class="d-none d-xl-inline-block">&nbsp Stampa</span>',
        title: 'Appuntamenti',
        className: 'btn-primary'
      }
    ],
  },
  initComplete: function () {
      $('#hide-dt').show();
    }
  } );

})
</script>
{% endblock %}
  <div class="py-4">
      <div id="hide-dt"  style="display:none">
        <table id="meetings_table" class="table table-striped center" width="100%" style="width: 100%;">
          <thead>
          <tr>
            <th>Data</th>
            <th>Orario</th>
            <th>Utente</th>
            <th>Email</th>
            <th>Codice fiscale</th>
            <th>Recapito</th>
            <th>Rinvii</th>
            <th>Stato</th>
          </tr>
          </thead>
          <tbody>
          {% for t in datatable %}
            <tr>
              <td data-order="{{ t.fromTime | date("U")}}">{{ t.fromTime |date("d/m/Y") }}</td>
              <td>{{ t.fromTime |date('H:i') }} - {{ t.toTime | date('H:i') }}</td>
              <td>{{ t.user.nome }} {{ t.user.cognome }}</td>
              <td><a href="mailto:{{ t.email }}">{{ t.email }}</a></td>
              <td>{{ t.fiscalCode }}</td>
              <td>{{ t.phoneNumber }}</td>
              <td>{{ t.rescheduled }}</td>
              <td>{{ ('meetings.' ~ t.getStatusName()) | trans }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>


