{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
{% block main_content %}
  <section class="container">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h1>{{ 'iscrizioni.le_mie_iscrizioni' | trans }}</h1>
      </div>
      <div class="col-12 px-lg-4 py-lg-2 my-5">
        {% if subscriptions is empty %}
          <p>{{ 'iscrizioni.no_iscrizioni' | trans }}</p>
        {% else %}
          <table id="delegated_subscriptions_table" class="table border-bottom">
            {% for subscription in subscriptions %}
              <tr>
                <td class="align-middle">
                  {% if user.codiceFiscale == subscription.subscriber.fiscalCode %}
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                    </svg>
                  {% else %}
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-share"></use>
                    </svg>
                  {% endif %}
                </td>
                <td class="align-middle">
                  <a class="text-decoration-none text-black"
                     href="{{ path('subscription_show_cpsuser', {'subscriptionId': subscription.id}) }}">
                    {% if user.codiceFiscale == subscription.subscriber.fiscalCode %}
                      {{ subscription.subscriptionService.name }}
                    {% else %}
                      {{ subscription.subscriptionService.name }} - {{ subscription.subscriber.name }} {{ subscription.subscriber.surname }}
                    {% endif %}
                  </a>
                </td>
                <td class="align-middle">
                  <div class="float-right">
                    <a href="{{ path('subscription_show_cpsuser', {'subscriptionId': subscription.id}) }}">
                      <svg class="icon icon-lg icon-primary">
                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"></use>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}

