<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
  {% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  {% block favicon %}{% endblock %}
  {% if feature('feature_new_outdatedbrowser') %}
    {{ encore_entry_script_tags('outdated-browser-rework') }}
  {% else %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.js"
              integrity="sha256-yV0saZESxHBqfSfNncH044y3GHbsxLZJbQQmuxrXv90=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.css"
            integrity="sha256-KNfTksp/+PcmJJ0owdo8yBLi/SVMQrH/PNPm25nR/pI=" crossorigin="anonymous"/>
  {% endif %}
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TTVNWDL');</script>
  <!-- End Google Tag Manager -->
    <script>
      // Plain Javascript
      //event listener: DOM ready
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function () {
            if (oldonload) {
              oldonload();
            }
            func();
          }
        }
      }

      //call plugin function after DOM ready
      addLoadEvent(function () {
        {% if not feature('feature_new_outdatedbrowser') %}
        outdatedBrowser({
          bgColor: '#3478bd',
          color: '#ffffff',
          lowerThan: 'object-fit',
          languagePath: ''
        })
        {% endif %}
      });
    </script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}/messages/{{ app.request.locale }}.js"></script>
  {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTVNWDL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% block header %}{% endblock %}
{% block content_container %}{% endblock %}
  <div class="cookiebar">
    <p>Questo sito usa cookies tecnici e cookies di terze parti per la raccolta in forma aggregata e anonima di dati che aiutano a migliorare la fruibilità dei contenuti.
      Proseguendo la navigazione del sito acconsenti all'uso dei cookie.</p>
    <div class="cookiebar-buttons">
      {#<a href="#" class="cookiebar-btn">Maggiori informazioni</a>#}
      <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">Accetta</button>
    </div>
  </div>

{% block footer %}{% endblock %}

{% if not feature('feature_new_outdatedbrowser') %}
  <div id="outdated" style="height: 100%;opacity: 0.95;background-color: #3478bd">
    <div style="position: absolute;width: 100%;top: 30%;">
      <h6>Il tuo browser è obsoleto!</h6>
      <p style="font-size: 25px;line-height: 1;text-transform: none;margin-top: 25px">
        Aggiorna il tuo browser per poter accedere al servizio e compilare correttamente il form
      </p>
      <a id="btnUpdateBrowser" style="font-size: 25px" href="https://bestvpn.org/outdatedbrowser/">Aggiorna </a>
      <p style="font-size: 25px;line-height: 1;text-transform: none;margin-top: 25px">
        Si raccomanda l'utilizzo di Firefox o Chrome
      </p>
    </div>
  </div>
  {% else %}
    <div id="outdated"></div>
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>
