{% extends '@App/Default/index.html.twig' %}
{% block title %}{{pratica.servizio.name}} - Stanza del cittadino{% endblock %}
{% set ente = instance_service.getCurrentInstance() %}

{% block stylesheets %}
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  {{ encore_entry_link_tags('compile') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('compile') }}
{% endblock %}

{% block main_content %}
  {% form_theme form ':form:ocsdc_form_style.html.twig' %}

  <section id="intro" class="container px-4 my-4 {{ form.vars.id }}">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'pratica.nuova_pratica'|trans({'%name%':pratica.servizio.name}) }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 px-lg-4">
        <h4 class="mb-5">
          {{ 'pratica.passo_uno_di_tanti'|trans({'%current%':flow.getCurrentStepNumber(),'%total%':flow.stepCount}) }}
          -
          {% if form.vars.helper.stepTitle|length > 0 %}
            {{ form.vars.helper.stepTitle }}
          {% else %}
            {{ flow.currentStepLabel()|trans }}
          {% endif %}
        </h4>
      </div>
    </div>

    <div class="row hidden-xs">
      <div class="col-md-12 mt-4 mb-4">
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-4 px-lg-4 order-lg-2">
        {% if pratica.servizio.loginSuggested and flow.currentStep != flow.stepCount %}
          {% if flow.getCurrentStepNumber() == 1 %}
            <div class="callout">
              <div class="callout-title">
                <svg class="icon">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
                </svg>
                {{ login_callout_texts.title }}
              </div>
              <div class="body">
                <p>{{ login_callout_texts.text | raw }}</p>
                <p>
                  <a href="{{ path('pratiche_new', {'servizio': pratica.servizio.slug}) }}"
                     class="btn btn-primary btn-lg btn-icon mt-1 service-access-button">
                <span>
                  <img class="icon" src="{{ asset('bundles/app/images/spid-user.svg') }}">
                </span>
                    <span class="ml-2">{{ login_callout_texts.button }}</span>
                  </a>
                </p>
              </div>
            </div>
          {% endif %}
        {% endif %}

        {# Info compilazione specificate nel servizio #}
        {{ include('@App/Pratiche/parts/compilation_info.html.twig') }}
      </div>

      <div class="col-lg-8 px-lg-4 order-lg-1">
        {{ form_start(form) }}
        <div class="step-{{ flow.getCurrentStepNumber() }}">

          {{ form_errors(form) }}

          {% if form.vars.helper.descriptionText|length > 0 %}
            {{ form.vars.helper.descriptionText|raw }}
          {% endif %}

          {% set currentStep = flow.steps[flow.getCurrentStepNumber() - 1] %}
          {% if currentStep.formType == "AppBundle\\Form\\Base\\SummaryType" %}
            <p><b>{{ 'steps.common.conferma.payment_help_text_top'|trans }}</b></p>
            {{ include('@App/PraticheAnonime/parts/pratica_summary.html.twig', {'pratica':form.vars.data}) }}
            <p class="py-3">{{ 'operatori.recaptcha'| trans }}</p>
          {% elseif  flow.getCurrentStepNumber() == flow.getLastStepNumber() %}
            <p><b>{{ 'steps.common.conferma.help_text_top'|trans }}</b></p>
            {{ include('@App/PraticheAnonime/parts/pratica_summary.html.twig', {'pratica':form.vars.data}) }}
            <p class="py-3">{{ 'operatori.recaptcha'| trans }}</p>
          {% endif %}

          {{ form_rest(form) }}

        </div>

        {% if currentStep.formType == "AppBundle\\Form\\FormIO\\FormIORenderType" %}
        <div id="formio"
             class="editable-anonymous formio-front"
             data-locale="{{ app.request.locale }}"
             data-formserver_url="{{ formserver_url }}"
             data-form_id="{{ pratica.servizio.formIoId }}"
             data-form_validate="{{ path( 'anonymous_formio_validate', {'servizio': pratica.servizio.slug}) }}">
        </div>
        {% endif %}

        <div id="formio-custom-errors" class="alert alert-danger alert-dismissible" style="display: none" role="alert" auto-close="5000">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {% if form.vars.id != 'pratica_payment_gateway' or (form.vars.id == 'pratica_payment_gateway' and form.vars.value.paymentType != 'mypay') %}
          <div class="mt-5">
            {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
          </div>
        {% endif %}
        {{ form_end(form) }}
      </div>

    </div>
  </section>

  {# Modal di conferma #}
  {{ include('@App/Pratiche/parts/confirm_modal.html.twig') }}

{% endblock %}

