{%  set fcqn_parts = pratica.servizio.praticaFCQN | split('\\') %}
{% set class_name = fcqn_parts|last %}

{{ include('@App/Pratiche/summary/' ~ class_name ~ '.html.twig', {'pratica':pratica, 'user': user}) }}
