{% block javascripts %}
  <script>
    const translate_ritiro_pratica = "{{ 'pratica.ritira_pratica' | trans }}";
  </script>
{% endblock %}

{% if can_compile %}
  {% if pratica.status == constant('\\AppBundle\\Entity\\Pratica::STATUS_PAYMENT_PENDING') %}
    <a class="btn btn-success mb-4 w-100" data-action="edit_draft"
       href="{{ path('pratiche_compila', {'pratica': pratica.id, 'instance': pratica.instanceId, 'step': pratica.lastCompiledStep}) }}">
      <i class="fa fa-arrow-circle-right"></i>
      {{ 'pratica.vai_al_pagamento'|trans }}
    </a>
  {% endif %}
  {% if pratica.servizio.legacy or pratica.status == constant('\\AppBundle\\Entity\\Pratica::STATUS_DRAFT') %}
    <a class="btn btn-success mb-4 w-100" data-action="edit_draft"
       href="{{ path('pratiche_compila', {'pratica': pratica.id, 'instance': pratica.instanceId, 'step': pratica.lastCompiledStep}) }}">
      <i class="fa fa-arrow-circle-right"></i>
      {{ 'pratica.vai_alla_pratica'|trans }}
    </a>
  {% endif %}
{% endif %}
{% if can_withdraw %}
  <a class="btn btn-danger mb-4 w-100"
     onclick="return confirm(translate_ritiro_pratica);"
     href="{{ path('pratiche_withdraw', {'pratica': pratica.id}) }}">
    <i class="fa fa-times" aria-hidden="true"></i>
    {{ 'pratica.ritira_la_pratica'|trans }}
  </a>
{% endif %}
