{% set data = pratica.getDelegaDataArray %}
{% if pratica.delegaType %}
    <div class="row">
        <div class="col-xs-12 col-sm-3"><strong>{{ 'pratica.dettaglio.delega.titolo'|trans }}</strong></div>
        <div class="col-xs-12 col-sm-9">
            <strong>{{ 'pratica.dettaglio.delega.ruolo'|trans }}</strong>
            <ul class="list-unstyled">
                {% if pratica.delegaType == 'altro' %}
                    <li>{{ data.delega_type_text }}</li>
                {% elseif pratica.delegaType == 'incaricato' %}
                    <li>{{ ('steps.common.delega.tipi.' ~ pratica.delegaType)|trans }} {{ data.delega_type_text }}</li>
                {% else %}
                    <li>{{ ('steps.common.delega.tipi.' ~ pratica.delegaType)|trans }} {{ data.nome_soggetto_certificato }}</li>
                {% endif %}
            </ul>
            <strong>{{ 'pratica.dettaglio.delega.dati_soggetto'|trans }}</strong>
            <ul class="list-unstyled">
                <li><strong>{{ 'pratica.dettaglio.delega.nome'|trans }}</strong> {{ data.nome_soggetto_certificato }}</li>
                <li><strong>{{ 'pratica.dettaglio.delega.cf'|trans }}</strong> {{ pratica.relatedCFs }}</li>
                <li><strong>{{ 'pratica.dettaglio.delega.data_nascita'|trans }}</strong> {{ data.data_nascita_soggetto_certificato }}</li>
            </ul>

            {% if pratica.allegati|length > 0 %}
                <div id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>{{ 'pratica.dettaglio.allegato.file'|trans }}</th>
                            <th>{{ 'pratica.dettaglio.allegato.descrizione'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for allegato in pratica.allegati %}
                            <tr>
                                <td data-title="{{ 'pratica.dettaglio.allegato.file'|trans }}">{{ allegato.originalFilename }}</td>
                                <td data-title="{{ 'pratica.dettaglio.allegato.descrizione'|trans }}">{{ allegato.description }}</td>
                                <td data-title="">
                                    {{ include('@App/Pratiche/summary/parts/download_allegato.html.twig', {'pratica':pratica, 'user': user, 'allegato_id': allegato.id}) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
            {% endif %}
        </div>
    </div>

{% endif %}
