<div class="row last">
  <div class="col-12 pt-2"><strong>{{ 'pratica.dettaglio.risposte_integrazioni'|trans }}</strong></div>
  <div class="col-3"></div>
  <div class="col-9">
    {% if pratica.integrationAnswers|length > 0 %}
      <div id="no-more-tables">
        <table class="table table-striped table-sm cf">
          <thead class="cf">
          <tr>
            <th>{{ 'pratica.dettaglio.allegato.file'|trans }}</th>
            <th>{{ 'pratica.protocollo'|trans }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for allegato in pratica.integrationAnswers %}
            <tr>
              <td data-title="{{ 'pratica.dettaglio.allegato.file'|trans }}">{{ allegato.originalFilename }}</td>
              <td data-title="{{ 'pratica.protocollo'|trans }}">
                {% if allegato.numeroProtocollo %}<small>{{ allegato.numeroProtocollo }}</small>{% endif %}
                {% if allegato.idDocumentoProtocollo %}<small>({{ allegato.idDocumentoProtocollo }})</small>{% endif %}
              </td>
              <td data-title="" class="text-right">
                {{ include('@App/Pratiche/summary/parts/download_allegato.html.twig', {'pratica':pratica, 'user': user, 'allegato_id': allegato.id}) }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
    {% endif %}
  </div>
</div>
