{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script>
    // Datatable
    $('#service-table').DataTable({
      "order": [[ 0, "asc" ]],
      columnDefs: [
        { orderable: false, targets: 2 },
        { orderable: false, targets: 3 }
      ],
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/it_it.json'
      },
      stateSave: true,
      dom: "<'row'<'col-6 pt-2'l><'col-6'f>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-2'p>>"
    });
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container-fluid px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'nav.admin.servizi'|trans }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 table-responsive">
        <table id="service-table" class="table table-striped table-condensed table-sm">
          <thead>
          <tr>
            <th>{{ 'servizio.gruppo'|trans }}<i class="fa fa-caret-right px-2" aria-hidden="true"></i>{{ 'general.nome'|trans }}</th>
            <th>{{ 'servizio.categoria'|trans }}</th>
            <th>{{ 'general.stato'|trans }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td class="w-60">
                {% if item.serviceGroup %}
                  {{ item.serviceGroup.name }}
                  <i class="fa fa-caret-right px-2" aria-hidden="true"></i>
                {% endif %}
                <a href="{{ path('new_application_by_operator', {'servizio': item.id}) }}">{{ item.name }}</a>
              </td>
              <td>
                {% if item.sharedWithGroup %}
                  {{ (item.serviceGroup.topics) ? item.serviceGroup.topics.name : '' }}
                {% else %}
                  {{ (item.topics) ? item.topics.name : '' }}
                {% endif %}
              </td>
              <td>
                {{ statuses[item.status] }}
                {% if item.status == 4 %}
                  <small class="d-block">da {{ item.scheduledFrom|date(ocsdc_default_datetime_format) }}</small>
                  <small class="d-block">a {{ item.scheduledTo|date(ocsdc_default_datetime_format) }}</small>
                {% endif %}
              </td>
              <td class="text-right">
                <a class="btn btn-primary btn-xs" href="{{ path('new_application_by_operator', {'servizio': item.id}) }}">
                  <svg class="icon icon-sm icon-white">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-pencil"></use>
                  </svg>
                  <span class="d-none d-md-inline-block">{{ 'pratica.create_applications' | trans }}</span>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </section>
{% endblock %}
