{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
  <section id="intro" class="container my-4">
    <div class="row">
      <div class="col-lg-12">
        <h2>Operatori</h2>
      </div>

      <div class="col-12">
        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th>{{ 'general.nome'|trans }}</th>
            <th>{{ 'general.username'|trans }}</th>
            <th>{{ 'general.email'|trans }}</th>
            <th>{{ 'general.stato'|trans }}</th>
            <th>{{ 'operatori.ultima_modifica_password'|trans }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for operatoreUser in operatoreUsers %}
            <tr>
              <td>
                <a
                  href="{{ path('admin_operatore_show', { 'id': operatoreUser.id }) }}">{{ operatoreUser.nome }} {{ operatoreUser.getCognome }}</a>
              </td>
              <td>{{ operatoreUser.username }}</td>
              <td>{{ operatoreUser.email }}</td>
              <td>{% if operatoreUser.enabled %}Abilitato{% else %}Non abilitato{% endif %}</td>
              <td>{% if operatoreUser.lastChangePassword %}{{ operatoreUser.lastChangePassword|date('Y-m-d H:i:s') }}{% else %} --- {% endif %}</td>
              <td class="actions">
                <a class="btn btn-secondary btn-xs"
                   href="{{ path('admin_operatore_edit', { 'id': operatoreUser.id }) }}">Modifica</a>
                <a class="btn btn-danger btn-xs" onclick="return confirm('{{ 'general.alert_elimina'|trans }}');"
                   href="{{ path('admin_operatore_delete', { 'id': operatoreUser.id }) }}">Elimina</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('admin_operatore_new') }}">{{ 'aggiungi'|trans }}</a>
      </div>
    </div>
  </section>
{% endblock %}
