{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('chars-user') }}
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <tr>
            <th>{{ 'admin.usage.user_title'|trans }}</th>
            <th>{{ all_user[0]["count"] }}</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per Utenti attivi</label>
          <select title="Scegli una opzione" class="select-status">
            <option value="all" selected>{{ 'tutti' | trans }}</option>
              <option value="active">Utenti attivi</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per tipo di accesso</label>
          <select title="Scegli una opzione" class="select-services">
            <option value="all" selected>{{ 'tutti' | trans }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bootstrap-select-wrapper">
          <label>Filtra per anno</label>
          <select title="Scegli una opzione" class="select-time">
            {% for year in all_user %}
              {% if year.year == ("now" | date('Y'))%}
                {% set currentYear = 'selected' %}
              {% else %}
                {% set currentYear = '' %}
              {% endif %}
              <option  {{currentYear}}
                value="{{ year.year }}">{{ year.year }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div id="container" class="mt-5" style="width:100%; height:400px;"></div>
  </section>


{% endblock %}
