<div class="row">
  <div class="col-12 pt-2"><strong>{{ 'steps.scia.allegati_modulo_scia.label'|trans() }}</strong></div>
  <div class="col-3"></div>
  <div class="col-9">
    <div id="no-more-tables">
      <table class="table table-striped table-sm cf">
        <thead class="cf">
        <tr>
          <th>{{ 'pratica.dettaglio.allegato.file'|trans }}</th>
          <th>{{ 'pratica.dettaglio.allegato.descrizione'|trans }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for key, v in pratica.dematerializedForms.elencoAllegatiAllaDomanda %}
          {% if v|length > 0 %}
              {% for f in v %}
                {% if f.id|length>0 %}
                  <tr>
                    <td data-title="{{ 'pratica.dettaglio.allegato.file'|trans }}">
                      {{ f.name }} {% if allegati[f.id] is defined and allegati[f.id].numero_protocollo %}<br/><small>( {{ allegati[f.id].numero_protocollo }} )</small>{% endif %}
                    </td>
                    <td data-title="{{ 'pratica.dettaglio.allegato.descrizione'|trans }}">
                      {% if allegati[f.id] is defined and allegati[f.id].description %}<small>{{ allegati[f.id].description }}</small>{% endif %}
                    </td>
                    <td data-title="" class="text-right">
                      {{ include('@App/Pratiche/summary/parts/download_allegato.html.twig', {'pratica':pratica, 'user': user, 'allegato_id': f.id}) }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
