.js-opening_hour-item {
  .form-check {
    display: inline-block;
  }
}


.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border-radius: 5px;
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;
}

#slot-picker{
  button.disabled{
    pointer-events: none;
    background: linear-gradient(to top left, #fff calc(50% - 2px), #d9364f, #fff calc(50% + 2px));
    color: #4a4a4a;
  }
}

.date-picker {
  td{
    & a.ui-state-active:focus,a.ui-state-default:focus  {
      box-shadow: 0 0 0 2px $orange;
    }

    &.not-available {
      &:not(.ui-state-disabled) {
        background: linear-gradient(to top left, #fff calc(50% - 2px), #d9364f, #fff calc(50% + 2px));

        & a.ui-state-active {
          background-color: #2222;
          color: #555 !important;
          border: none;
        }

        &.ui-datepicker-today > a {
          border: none;
        }
      }

      &.disabled {
        background: linear-gradient(to top left, #fff calc(50% - 2px), #d9364f, #fff calc(50% + 2px));
      }
    }
  }
}


.irs--flat .irs-handle>i:first-child {
  background-color: #003882 !important;
}
.irs--flat .irs-bar {
  height: 25px !important;
  background-color: #003882 !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  font-size: 15px !important;
  font-family: 'Titillium Web', serif;
  background-color: #003882 !important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: #003882 !important;
}

.irs--flat .irs-line {
  height: 25px !important;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  font-size: 15px !important;
  font-family: 'Titillium Web', serif;
}

@include media-breakpoint-down(xs){
  .fc-toolbar.fc-header-toolbar {
    display: block;
  }

  .fc-timeGridWeek-button {
    display: none;
  }

  .fc-dayGridMonth-button {
    display: none;
  }
}

.fc td.fc-today {
  background-image: none;
}

#modalCenter, #modalNew {
  input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea {
    font-weight: 100;
  }
}
