
.modal-fullscreen {
  z-index: 1100;
  padding: 0 !important;
  margin: 0 !important;

  .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
    }
  }
}

.search-text {
  background: $white !important;
}
