<div class="row">
  <div class="col-lg-12 px-lg-4">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}

    <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="form_placeholders">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ 'servizio.placeholder_disponibili'  | trans }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <svg class="icon">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <h5>{{ 'servizio.generali' | trans }}</h5>
            <table class="table table-hover table-condensed table-striped table-sm mt-2">
              <tbody>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.id_pratica' | trans }}:</td>
                <td>%pratica_id%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.nome_servizio' | trans }}</td>
                <td>%servizio%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.nome_completo' | trans }}:</td>
                <td>%service_fullname%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.gruppo' | trans }}:</td>
                <td>%gruppo%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.categoria' | trans }}:</td>
                <td>%categoria%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.data_corrente' | trans }}:</td>
                <td>%data_corrente%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.data_acquisizione' | trans }}:</td>
                <td>%data_acquisizione%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.ora_acquisizione' | trans }}:</td>
                <td>%ora_acquisizione%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.protocollo' | trans }}:</td>
                <td>%protocollo%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.data_protocollo' | trans }}:</td>
                <td>%data_protocollo%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.ora_protocollo' | trans }}:</td>
                <td>%ora_protocollo%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.messaggio_personale' | trans }}:</td>
                <td>%messaggio_personale%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.nome_utente' | trans }}:</td>
                <td>%user_name%</td>
              </tr>
              <tr>
                <td class="font-weight-semibold text-secondary w-50">{{ 'servizio.indirizzo_utente' | trans }}e:</td>
                <td>%indirizzo%</td>
              </tr>
              </tbody>
            </table>
            {% if schema.components %}
              <h5>{{ 'servizio.modulo_utente' | trans }}</h5>
              <table class="table table-hover table-condensed table-striped table-sm mt-2">
                <tbody>
                {% for component in schema.components %}
                  <tr>
                    <td class="font-weight-semibold text-secondary w-50">{{ component.formOptions.label|slice(0,100) }}:</td>
                    <td>%{{ component.name }}%</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if backoffice_schema %}
              <h5 class="mt2">{{ 'servizio.modulo_backoffice' | trans }}</h5>
              <table class="table table-hover table-condensed table-striped table-sm mt-2">
                <tbody>
                {% for component in backoffice_schema.components %}
                  <tr>
                    <td class="font-weight-semibold text-secondary w-50">{{ component.formOptions.label|slice(0,100) }}:</td>
                    <td>%{{ component.name }}%</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" aria-label="Close">Chiudi</button>
          </div>
        </div>
      </div>
    </div>



    {% if form.feedback_messages_settings is defined %}
      {{ form_widget(form.feedback_messages_settings) }}
    {% endif %}

    <ul class="nav nav-tabs">
      {% for locale,child in form.i18n %}
        <li role="presentation" class="nav-item">
          <a class="nav-link {{ locale == app.request.locale?"active":"" }}" href="#{{ locale }}_i18n-fields" data-toggle="tab">
            {{ locale|capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content mt-1 py-3">
      {% for locale,child in form.i18n %}
        <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="{{ locale }}_i18n-fields">
          {{ form_widget(child) }}
        </div>
      {% endfor %}
    </div>

    {{ form_rest(form) }}

    {{ include('@App/Admin/servizio/_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>

</div>
