<div class="row mb-4">
  <div class="col-md-9">
    {% if locales|length > 1 %}
      <div class="alert alert-info">
        {{ 'servizio.i18n.default_language_module_alert'|trans({'%default_language%': locale|capitalize, '%module_translation_url%': path('admin_servizio_edit', {'id': servizio.id, 'step': 'formioI18n'}) })|raw }}
      </div>
    {% endif %}
  </div>
  <div id="preview" class="col-md-3 px-md-4">
    <a href="#" data-schema="{{ path('admin_servizio_schema_edit', {'servizio':servizio.id} ) }}"
       data-type="preview" data-target="{{ path('preview_service', {'service':servizio.id}) }}"
       class="btn btn-xs btn-outline-primary float-right preview">
      <svg class="icon icon-sm icon-primary">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-note"></use>
      </svg>
      {{ 'servizio.preview'|trans }}
    </a>
    <a href="#" data-schema="{{ path('admin_servizio_schema_edit', {'servizio':servizio.id} ) }}"
       data-type="print"
       data-target="{{ path('print_service_pdf', {'service':servizio.id}) }}"
       class="btn btn-xs btn-outline-primary float-right mr-2 print">
      <svg class="icon icon-sm icon-primary">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-print"></use>
      </svg>
      {{ 'servizio.print'|trans }}
    </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 px-lg-4">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}

    {% if current_step == 'messages' and schema.components %}
      <div class="col-12 text-right">
        <a data-toggle="collapse" data-target="#form_placeholders" aria-expanded="false"
           aria-controls="form_placeholders" role="button">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-items"></use>
          </svg>
        </a>
        <span
          class="font-weight-semibold text-secondary">{{ 'servizio.placeholder_disponibili'  | trans }}</span>
      </div>
      <div id="form_placeholders" class="py-3 collapse">
        <p>{{ 'servizio.placeholder_disponibili_descrizione'  | trans }}</p>
        <table class="table table-hover">
          <tbody>
          {% for component in schema.components %}
            <tr>
              <td class="font-weight-semibold text-secondary">{{ component.formOptions.label|slice(0,100) }}:
              </td>
              <td>%{{ component.name }}%</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {{ form_rest(form) }}

    {% if current_step == 'app-io' %}
      <div id="io_test" class="clearfix bg-light px-3 py-5">
        <p class="text-info" id="io_helper"><i
            class="fa fa-info-circle mr-2"></i>{{ 'app_io.test.helper' | trans }}</p>
        <div class="form-group">
          <label for="form_io_send_test_fiscal_code">{{ 'app_io.test.codice_fiscale' | trans }}</label>
          <input type="text" id="form_io_send_test_fiscal_code" name="form[test_fiscal_code]"
                 class="form-control">
        </div>
        <div id="error_messages"></div>
        <div class="form-group">
          <button type="button" id="form_io_send_test" name="form[test]" class="btn-primary float-right btn"
                  data-url="{{ path('test_io') }}">
            {{ 'app_io.test.label' | trans }}
          </button>
        </div>
      </div>
    {% endif %}


    <div class="row d-none">
      <div class="col-lg-12">
        <div class="callout">
          <div class="callout-title">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
            </svg>
            Guida
          </div>
          <p>{{ 'servizio.select_template' | trans }}</p>
        </div>
      </div>
      <div class="col-lg-12"><h5>{{ 'servizio.blank_template' | trans }}</h5></div>
      <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-empty-templates-container"></div>
      <div class="col-lg-12"><h5>{{ 'servizio.templates_based_existing_services' | trans }}</h5></div>
      <div class="card-wrapper card-teaser-wrapper col-lg-12" id="formio-templates-container" data-url="{{ path('admin_servizio_list') }}"></div>
    </div>


    <div id="formio" data-formserver_url="{{ formserver_url }}"></div>
    <div id="builder"></div>

    {{ include('@App/Admin/servizio/_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>

</div>
