<div class="row">
  <div class="col-lg-12 px-lg-4">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.vars.helper.descriptionText|length > 0 %}
      <blockquote>
        {{ form.vars.helper.descriptionText|raw }}
      </blockquote>
    {% endif %}

    <ul class="nav nav-tabs">
      {% for lang,child in form.i18n %}
        <li role="presentation" class="nav-item">
          <a class="nav-link {% if lang == app.request.locale or loop.index == 1 %}active{% endif %}" href="#{{ lang }}_i18n-fields" data-toggle="tab">
            {{ lang|capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content mt-1 py-3">
      {% for lang,child in form.i18n %}
        <div role="tabpanel" class="tab-pane {% if lang == app.request.locale or loop.index == 1 %}active{% endif %}" id="{{ lang }}_i18n-fields">
          <table class="table table-hover table-condensed table-striped table-sm mt-2">
            <thead>
              <tr>
                <th>{{ 'servizio.i18n.string'|trans }}</th>
                <th>{{ 'servizio.i18n.translation'|trans({'%lang%': lang|capitalize}) }}</th>
              </tr>
            </thead>
            <tbody>
            {% for field in child %}
              <tr>
                <td class="w-25 p-2 align-bottom">{{ form_label(field) }}</td>
                <td class="p-2">{{ form_widget(field) }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      {% endfor %}
    </div>
    {{ form_rest(form) }}

    {{ include('@App/Admin/servizio/_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>

</div>
