{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('subscription-service-manager') }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('subscription-service-manager') }}
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  <script>
    $(function () {
      $('#subscription_services_table').initDataTables({{ datatable_settings(datatable) }}, {
        dom: 'fBrtip',
        searching: true,
        paging: true,
        pagingType: 'simple_numbers',
        "language": {
          "sEmptyTable": "Nessun dato presente nella tabella",
          "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
          "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
          "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
          "sInfoPostFix": "",
          "sInfoThousands": ".",
          "sLengthMenu": "Visualizza _MENU_ elementi",
          "sLoadingRecords": "Caricamento...",
          "sProcessing": '<div class="progress-spinner progress-spinner-double progress-spinner-active">\n' +
            '        <div class="progress-spinner-inner"></div>\n' +
            '        <div class="progress-spinner-inner"></div>\n' +
            '        <span class="sr-only">Caricamento...</span>\n' +
            '      </div>',
          "sSearch": "Ricerca",
          "sZeroRecords": "La ricerca non ha portato alcun risultato.",
          "oPaginate": {
            "sFirst": "Inizio",
            "sPrevious": "Precedente",
            "sNext": "Successivo",
            "sLast": "Fine"
          },
          "oAria": {
            "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
            "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
          },
        },
        initComplete: function () {
          $('#subscription_services_table thead tr th').each(function(index,element){
            index += 1;
            $('tr td:nth-child('+index+')').attr('data-title', element.innerHTML);
          });

          // Use bootstrap buttons for pagination
          $('a.paginate_button').addClass('btn');
          // Add margin bottom to datatables info
          $('#dt_info').css('margin-bottom', '0.85em')
        }
      }).then(function (dt) {
        $('.table_filter').on('change', function(){
          dt.columns(2).search(this.value, false, false, false).draw();
        });
      })
    });
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container-full px-4 my-4">

    <div class="col-12 d-flex justify-content-between">
      <h1>{{ 'backoffice.integration.subscription_service.subscription_services' | trans }}</h1>
      <div>
        <a data-toggle="modal" data-target="#searchModal">
          <span class="text-400 font-weight-bolder">{{ 'backoffice.integration.subscription_service.search_subscribers' | trans }}</span>
          <div class="avatar size-lg" href="#">
            <svg class="icon icon-secondary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-search"></use></svg>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <div id="no-more-tables" class="table-striped">
          <div class="bootstrap-select-wrapper" style="float: left">
            <select class="table_filter" id="filter" title="Stato">
              <option value="">{{ 'backoffice.integration.subscription_service.all' | trans }}</option>
              {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="subscription_services_table" class="stripe"></div>
          <div class="mt-4">
            <a class="btn btn-success btn-primary" href="{{ path('operatori_subscription-service_new') }}">{{ 'backoffice.integration.subscription_service.new' | trans }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "@App/SubscriptionServices/parts/searchModal.html.twig" %}
{% endblock %}
