{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script>
    // Datatable
    $('#payments-table').DataTable({
      "order": [[6, "desc"]],
      columnDefs: [
        {orderable: false, targets: 8}
      ],
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/it_it.json'
      },
      stateSave: true,
      dom: "<'row'<'col-6 pt-2'l><'col-6'f>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-2'p>>"
    });

  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container-full px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>{{ 'backoffice.integration.subscription_service.subscription_service_payments'|trans }}</h2>
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2">
        <table id="payments-table" class="table table-striped table-condensed table-sm">
          <thead>
          <tr>
            <th>{{ 'backoffice.integration.subscription_service.payment.reason'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.identifier'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.type'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.subscription_service'|trans }}</th>
            <th>{{ 'iscrizioni.subscribers.completename'|trans }}</th>
            <th>{{ 'iscrizioni.subscribers.fiscal_code'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.execution_date'|trans }}</th>
            <th>{{ 'backoffice.integration.subscription_service.payment.amount'|trans }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <tr>
              <td>
                <a
                  href="{{ path('operatori_subscriber_show', { 'subscriber': item.subscription.subscriber.id, 'tab': 'subscriptions', 'show_subscription': item.subscription.id}) }}">
                  <span data-toggle="tooltip" title="{{ item.description }}">{{ item.description }}</span>
                </a>
              </td>
              <td>{{ item.name }}</td>
              <td>{% if identifiers[item.subscription.subscriptionService.code][item.name] is defined %} {{ ('backoffice.integration.subscription_service.payment.text_' ~ identifiers[item.subscription.subscriptionService.code][item.name]) | trans }} {% endif %}</td>
              <td>{{ item.subscription.subscriptionService.name }}</td>
              <td>{{ item.subscription.subscriber.name }} {{ item.subscription.subscriber.surname }}</td>
              <td>{{ item.subscription.subscriber.fiscalCode }}</td>
              <td>{% if item.paymentDate %}{{ item.paymentDate | date('Y-m-d') }}{% endif %}</td>
              <td>{{ item.amount }} €</td>
              <td class="text-right">
                {{ include('@App/SubscriptionServices/table/_paymentActions.html.twig', {'payment': item}) }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
