{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}

  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script>
    // Datatable
    $('#payments-table').DataTable({
      "order": [[3, "desc"]],
      columnDefs: [
        {orderable: true, targets: 0},
        {orderable: true, targets: 1},
        {orderable: true, targets: 2},
        {orderable: true, targets: 3},
        {orderable: true, targets: 4},
        {orderable: false, targets: 5}
      ],
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/it_it.json'
      },
      stateSave: true,
      dom: "<'row'<'col-6 pt-2'l><'col-6'f>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-2'p>>"
    });

    // Datatable
    $('#missing-payments-table').DataTable({
      "order": [0, "desc"],
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/it_it.json'
      },
      stateSave: true,
      dom: "<'row'<'col-6 pt-2'l><'col-6'f>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-2'p>>"
    });
  </script>
{% endblock %}

{% block main_content %}

  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <div class="chip chip-primary chip-lg truncate-wrapper"><span class="chip-label text-truncate">{{ subscriptionService.name }}</span></div>
        <h2>{{ 'backoffice.integration.subscription_service.identifier_payments' | trans({'%identifier%': identifier}) }}</h2>
      </div>
      <div class="col-lg-12 px-lg-4 py-lg-2 my-4">
        <ul class="nav nav-tabs" id="Tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="true">
              <svg class="icon icon-primary">
                <use href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use>
              </svg> {{ 'backoffice.integration.subscription_service.payment.payments_made' | trans }} <span class="badge badge-light ml-1">{{ paymentsMade | length }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="missing-payments-tab" data-toggle="tab" href="#missing-payments" role="tab" aria-controls="missing-payments" aria-selected="false">
              <svg class="icon icon-primary">
                <use href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
              </svg>{{ 'backoffice.integration.subscription_service.payment.missing_payments' | trans }} <span class="badge badge-light ml-1">{{ missingPayments | length }}
            </a>
          </li>
        </ul>
        <div class="tab-content" id="TabContent">
          <div class="tab-pane p-4 fade show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
            <table id="payments-table" class="table table-striped table-condensed ">
              <thead>
              <tr>
                <th>{{ 'iscrizioni.subscribers.completename'|trans }}</th>
                <th>{{ 'iscrizioni.subscribers.fiscal_code'|trans }}</th>
                <th>{{ 'backoffice.integration.subscription_service.payment.reason'|trans }}</th>
                <th>{{ 'backoffice.integration.subscription_service.payment.execution_date'|trans }}</th>
                <th>{{ 'backoffice.integration.subscription_service.payment.amount'|trans }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for payment in paymentsMade %}
                <tr>
                  <td>{{ payment.subscription.subscriber.name }} {{ payment.subscription.subscriber.surname }}</td>
                  <td>{{ payment.subscription.subscriber.fiscalCode }}</td>
                  <td>{{ payment.description }}</td>
                  <td>{% if payment.paymentDate %}{{ payment.paymentDate | date('Y-m-d') }}{% endif %}</td>
                  <td>{{ payment.amount }} €</td>
                  <td>
                    {{ include('@App/SubscriptionServices/table/_paymentActions.html.twig', {'payment': payment}) }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane p-4 fade" id="missing-payments" role="tabpanel" aria-labelledby="missing-payments-tab">
            <table id="missing-payments-table" class="table table-striped table-condensed">
              <thead>
              <tr>
                <th>{{ 'iscrizioni.subscribers.completename'|trans }}</th>
                <th>{{ 'iscrizioni.subscribers.fiscal_code'|trans }}</th>
                <th>{{ 'iscrizioni.subscribers.email_address'|trans }}</th>
              </tr>
              </thead>
              <tbody>
              {% for missingPayment in missingPayments %}
                <tr>
                  <td>{{ missingPayment.subscriber.name }} {{ missingPayment.subscriber.surname }}</td>
                  <td>{{ missingPayment.subscriber.fiscalCode }}</td>
                  <td><a href="{{ missingPayment.subscriber.email }}">{{ missingPayment.subscriber.email }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <a class="btn btn-100 btn-sm" href="{{ path('operatori_subscription-service_index') }}">{{ 'iscrizioni.back_to_list' | trans }}</a>
        <a class="btn btn-100 btn-sm"
           href="{{ path('operatori_subscriptions', { 'subscriptionService': subscriptionService.id }) }}">{{ 'iscrizioni.subscriptions' | trans }}</a>
        <a class="btn btn-primary btn-sm"
           href="{{ path('operatori_subscription-service_show', { 'subscriptionService': subscriptionService.id }) }}">{{ 'iscrizioni.back_to_service' | trans }}</a>
      </div>
    </div>
  </section>
{% endblock %}

