{% extends '@App/Default/index.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('subscription-service-manager') }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('subscription-service-manager') }}
{% endblock %}

{% block main_content %}

  <section id="intro" class=" container px-4 my-4">
    <div id="token" class="hidden" data-token='{{ token }}'></div>
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>{{ subscriber.name }} {{ subscriber.surname }}</h1>
      </div>
    </div>
    <ul class="nav nav-tabs nav-tabs-icon-text">
      <li class="nav-item"><a id="user-tab" data-toggle="tab" class="nav-link {% if not tab or tab == 'user' %} active {% endif %}" href="#user">
          <svg class="icon icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-user"></use>
          </svg>
          <span class="d-none d-md-block">{{ 'iscrizioni.subscriber_data' | trans }}</span></a></li>
      <li class="nav-item"><a id="subscriptions-tab" data-toggle="tab" class="nav-link {% if tab == 'subscriptions' %} active {% endif %}" href="#subscriptions">
          <svg class="icon icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-bookmark"></use>
          </svg>
          <span class="d-none d-md-block">{{ 'iscrizioni.subscriptions' | trans }}</span></a>
      </li>
      <li class="nav-item"><a id="payments-tab" data-toggle="tab" class="nav-link {% if tab == 'payments' %} active {% endif %}" href="#payments">
          <svg class="icon icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-card"></use>
          </svg>
          <span class="d-none d-md-block">{{ 'iscrizioni.payments' | trans }}</span></a>
      </li>
      <li class="nav-item"><a id="message-tab" data-toggle="tab" class="nav-link {% if tab == 'message' %} active {% endif %}" href="#message">
          <svg class="icon icon-primary">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
          </svg>
          <span class="d-none d-md-block">{{ 'iscrizioni.messages' | trans }}</span></a>
      </li>
    </ul>
    <div class="tab-content" id="TabContent">
      <!-- Anagrafica -->
      <div class="tab-pane p-1 fade {% if not tab or tab == 'user' %} show active {% endif %}" id="user" role="tabpanel" aria-labelledby="user-tab" >
        {{ include('@App/Subscriber/parts/subscriberDetail.html.twig', {'subscriber': subscriber}) }}
      </div>
      <!-- Pagamenti -->
      <div class="tab-pane p-1 fade {% if tab and tab == 'payments' %} show active {% endif %}" id="payments" role="tabpanel" aria-labelledby="payments-tab">
        {{ include('@App/Subscriber/parts/payments.html.twig') }}
      </div>
      <div class="tab-pane p-1 fade {% if tab and tab == 'subscriptions' %} show active {% endif %}" id="subscriptions" role="tabpanel" aria-labelledby="subscriptions-tab">
        {{ include('@App/Subscriber/parts/subscriptions.html.twig') }}
      </div>
      <!-- Messaggi -->
      <div class="tab-pane p-1 fade {% if tab and tab == 'message' %} show active {% endif %}" id="message" role="tabpanel" aria-labelledby="message-tab">
        {{ include('@App/Subscriber/parts/messages.html.twig', { 'form': message_form }) }}
      </div>
    </div>
  </section>
{% endblock %}

