<html>
<head>
    {{ include('@App/Pratiche/pdf/parts/style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('@App/Pratiche/pdf/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<div class="richiesta">
    <p>
        {{ 'attestazione_anagrafica.pdf.richiesta'|trans() }}
    </p>
</div>

{{ include('@App/Pratiche/pdf/parts/data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('@App/Pratiche/pdf/parts/dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/footer.html.twig') }}
</body>
</html>
