<html>
<head>
    {{ include('@App/Pratiche/pdf/parts/style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('@App/Pratiche/pdf/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}


<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<div class="richiesta">
    <p style="text-align: center">
        {{ 'certificato_matrimonio.pdf.richiesta'|trans() }}

        {% if pratica.dematerializedForms %}
            relativo alla persona:
        {% endif %}
    </p>
</div>
{% if pratica.dematerializedForms %}
    {% set data = pratica.dematerializedForms|json_decode %}
    <div class="delega_richiesta">
        <p>
            <span class="text-uppercase">{{ data.nome_soggetto_certificato }} {{ data.cognome_soggetto_certificato }}</span> {{ 'pratica.dettaglio.delega.cf'|trans }} <span class="text-uppercase">{{ pratica.relatedCfs }}</span>
        </p>

        <p>
            {{ 'steps.common.certificato_anagrafico.uso'|trans }} <span class="text-uppercase">{{ pratica.usoCertificatoAnagrafico }}</span>
        </p>
    </div>
{% endif %}

<p>
    {{ 'certificato_anagrafico.pdf.dichiara'|trans|raw }}
</p>

{{ include('@App/Pratiche/pdf/parts/data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/footer.html.twig') }}
</body>
</html>
