<html>
<head>
    {{ include('@App/Pratiche/pdf/parts/style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('@App/Pratiche/pdf/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('@App/Pratiche/pdf/parts/delega_ruolo.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

{{ include('@App/Pratiche/pdf/parts/delega_richiesta.html.twig', {'pratica':pratica, 'user': user}) }}

{{ include('@App/Pratiche/pdf/parts/data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/footer.html.twig') }}

</body>
</html>
