<html>
<head>
    {{ include('@App/Pratiche/pdf/parts/style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

{{ include('@App/Pratiche/pdf/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}

<div class="chiede center_title">
    {{ 'pratica.pdf.chiede'|trans() }}
</div>

<div class="richiesta page-break-after">
    <p>
        {{ 'iscrizione_asilo_nido.pdf.ammissione_nido'|trans() }} <span class="text-uppercase">{{ pratica.struttura.name }}</span>
        {{ 'iscrizione_asilo_nido.pdf.del_bambino'|trans() }} <span class="text-uppercase">{{ pratica.bambinoNome }} {{ pratica.bambinoCognome }}</span>
        {{ 'pratica.pdf.nato_il'|trans() }} <span class="text-uppercase">{{ pratica.bambinoDataNascita|date(ocsdc_default_date_format) }}</span>
        {{ 'pratica.pdf.nato_a'|trans() }} <span class="text-uppercase">{{ pratica.bambinoLuogoNascita }}</span>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'iscrizione_asilo_nido.pdf.orario'|trans() }}</th>
            <th>{{ 'iscrizione_asilo_nido.pdf.periodo'|trans() }}</th>
        </tr>
        </thead>
        <tr>
            <td>{{ pratica.strutturaOrario }}</td>
            <td>{{ 'iscrizione_asilo_nido.pdf.periodo_da'|trans() }} {{ pratica.periodoIscrizioneDa|date(ocsdc_default_date_format) }} {{ 'iscrizione_asilo_nido.pdf.periodo_a'|trans() }} {{ pratica.periodoIscrizioneA|date(ocsdc_default_date_format) }}</td>
        </tr>
    </table>
</div>

{{ include('@App/Pratiche/pdf/parts/nucleo_familiare.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/allegati.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/data_luogo.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/dati_autenticazione.html.twig', {'pratica':pratica,  'user': user}) }}
{{ include('@App/Pratiche/pdf/parts/footer.html.twig') }}
</body>
</html>
