<html>
<head>
    {{ include('@App/Pratiche/pdf/parts/style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>


<div class="chiede center_title">
    <span class="text-uppercase">Spettabile {{ pratica.richiedenteCognome }} {{ pratica.richiedenteNome }}</span>
</div>

<div class="richiesta">
    <p>
        La informiamo che la Sua richiesta è stata: <b>{% if pratica.esito %}accettata{% else %}rifiutata{% endif %}</b>
    </p>
    {% if pratica.motivazioneEsito is not empty %}
      {{ pratica.motivazioneEsito|raw }}
    {% endif %}
    {% if pratica.allegatiOperatore|length > 0 %}
        <h2>Allegati alla risposta:</h2>
        <ul>
        {% for allegato in pratica.allegatiOperatore %}
            <li>{{ allegato.filename }} &dash; {{ allegato.description }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="data">
    <p>
        {{ 'pratica.pdf.luogo'|trans()|raw }}
        {% if pratica.rispostaOperatore %}
            {{ pratica.rispostaOperatore.createdAt|date("d/m/Y") }}
        {% else %}
            {{ "now"|date("d/m/Y") }}
        {% endif %}
    </p>
</div>

</body>
</html>
