<div id="pratica-summary">

    {{ include('@App/Pratiche/summary/parts/allegati_operatore.html.twig', {'pratica':pratica, 'user': user}) }}

    {{ include('@App/Pratiche/summary/parts/base.html.twig', {'pratica':pratica, 'user': user}) }}

    <div class="row">
        <div class="col-xs-12 col-sm-3"><strong>{{ 'steps.common.org_richiedente.title'|trans }}</strong></div>
        <div class="col-xs-12 col-sm-9">
            <table class="table table-bordered table-striped table-condensed cf">
                <tr>
                    <th width="1">{{ 'steps.common.org_richiedente.ruolo_utente'|trans }}</th>
                    <td>{{ pratica.getRuoloUtenteOrgRichiedente }}</td>
                </tr>
                <tr>
                    <th width="1">{{ 'steps.common.org_richiedente.nome_associazione'|trans }}</th>
                    <td>{{ pratica.nomeAssociazione }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.natura_giuridica'|trans }}</th>
                    <td>{{ pratica.naturaGiuridica }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.sito'|trans }}</th>
                    <td>{{ pratica.sito }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.pagina_social'|trans }}</th>
                    <td>{{ pratica.paginaSocial }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.e_mail'|trans }}</th>
                    <td>{{ pratica.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.numero_iscritti'|trans }}</th>
                    <td>{{ pratica.numeroIscritti }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.modalita_di_adesione'|trans }}</th>
                    <td>{{ pratica.modalitaDiAdesione }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.attivita'|trans }}</th>
                    <td>{{ pratica.attivita }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.obiettivi'|trans }}</th>
                    <td>{{ pratica.obiettivi }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.sede_legale'|trans }}</th>
                    <td>{{ pratica.sedeLegale }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.sede_operativa'|trans }}</th>
                    <td>{{ pratica.sedeOperativa }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.indirizzo'|trans }}</th>
                    <td>{{ pratica.indirizzo }}</td>
                </tr>
                <tr>
                    <th>{{ 'steps.common.org_richiedente.contatti'|trans }}</th>
                    <td>{{ pratica.contatti }}</td>
                </tr>
            </table>

        </div>

    </div>
    {{ include('@App/Pratiche/summary/parts/allegati.html.twig', {'pratica':pratica, 'user': user}) }}
    {{ include('@App/Pratiche/summary/parts/payment_gateway.html.twig', {'pratica':pratica, 'user': user}) }}
</div>
