<div class="modal fade" tabindex="-1" role="dialog" id="modal_import_payments">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'iscrizioni.import_payments' | trans }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'iscrizioni.modals.payments_header' | trans }}</p>
        <ol class="small">
          <li><a
              href="{{ path("operatori_download_subscription_payments_template_csv") }}">{{ 'iscrizioni.modals.download_template' | trans }}</a>
          </li>
          <li>{{ 'iscrizioni.modals.open_in_excel' | trans }}</li>
          <li>{{ 'iscrizioni.modals.payments_edit_file' | trans }}</li>
          <li>{{ 'iscrizioni.modals.save_and_upload' | trans }}</li>
          <li>{{ 'iscrizioni.modals.payments_check_errors' | trans }}</li>
        </ol>

        <div class="mt-5">
          <div class="mt-5">
            <div class="bootstrap-select-wrapper select-import-payment-wrapper mb-5">
              <label>{{ 'iscrizioni.select_payment_config' | trans }}</label>
              <select id="select_payment" title="Scegli una opzione">
                <option value="" title="Scegli una opzione" data-content="{{ 'annulla' | trans }} <span class='reset-label'></span>"></option>
                {% for payment in subscriptionService.subscriptionPayments %}
                  {% if payment.type != constant('\\AppBundle\\Model\\SubscriptionPayment::TYPE_SUBSCRIPTION_FEE') %}
                    <option value="{{ payment.paymentIdentifier }}">{{ payment.paymentReason }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              {% if subscriptionService.subscriptionPayments | length == 0 %}
                <p id="modal-payment-error" class="text-danger">{{ 'iscrizioni.no_payments_config' | trans }}</p>
              {% endif %}
            </div>
            <input type="file" name="upload" id="payments_upload" accept=".csv" class="upload custom-file-input"/>
            <label for="payments_upload">
              <svg class="icon icon-sm" aria-hidden="true">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-upload"></use>
              </svg>
              <span>{{ 'iscrizioni.upload_csv' | trans }}</span>
            </label>
            <ul id="payments_file" class="upload-file-list"></ul>
            {{ include('@App/Subscriptions/parts/spinner.html.twig') }}
            <div id="import_payments_message" class="pb-3"></div>
            <div id="import_payments_errors"></div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-sm" type="button"
                data-dismiss="modal">{{ 'close' | trans }}</button>
        <button class="btn btn-primary btn-sm" type="button" id="import_payments_btn" disabled
                data-url="{{ path('operatori_import_payments_csv', { 'subscriptionService': subscriptionService.id }) }}">{{ 'iscrizioni.send' | trans }}</button>
      </div>
    </div>
  </div>
</div>
