<div class="modal fade" tabindex="-1" role="dialog" id="modal_import_subscriptions">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'iscrizioni.import_subscriptions' | trans }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <svg class="icon">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'iscrizioni.modals.subscriptions_header' | trans }}
        <ol class="small">
          <li><a
              href="{{ path("operatori_download_subscribers_template_csv") }}">{{ 'iscrizioni.modals.download_template' | trans }}</a>
          </li>
          <li>{{ 'iscrizioni.modals.open_in_excel' | trans }}</li>
          <li>{{ 'iscrizioni.modals.subscriptions_edit_file' | trans }}</li>
          <li>{{ 'iscrizioni.modals.save_and_upload' | trans }}</li>
          <li>{{ 'iscrizioni.modals.subscriptions_check_errors' | trans }}</li>
        </ol>
        </p>
        <div class="mt-5">
          <div>
            <input type="file" name="upload" id="subcribers_upload" accept=".csv" class="upload custom-file-input"/>
            <label for="subcribers_upload">
              <svg class="icon icon-sm" aria-hidden="true">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-upload"></use>
              </svg>
              <span>{{ 'iscrizioni.upload_csv' | trans }}</span>
            </label>
          </div>
          <div>
            <ul id="subscribers_file" class="upload-file-list"></ul>
          </div>
          {{ include('@App/Subscriptions/parts/spinner.html.twig') }}
          <div id="import_subscribers_message" class="mb-3"></div>
          <div id="import_subscribers_errors"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-sm" type="button"
                data-dismiss="modal">{{ 'close' | trans }}</button>
        <button class="btn btn-primary btn-sm" type="button" id="import_subscribers_btn"
                data-url="{{ path('operatori_importa_csv_iscrizioni', { 'subscriptionService': subscriptionService.id }) }}">{{ 'iscrizioni.send' | trans }}</button>
      </div>
    </div>
  </div>
</div>
