{% extends '::base.html.twig' %}

{% block title %}Stanza del cittadino{% endblock %}
{% block favicon %}
  {% set ente = instance_service.getCurrentInstance() %}
  {% set favicon = ente.getMetaAsArray('favicon') %}

  {% if favicon is defined and favicon is not empty %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/' ~ favicon) }}"/>
  {% else %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block header %}
  {{ include('@App/Default/header/header.html.twig') }}
{% endblock %}

{% block content_container %}
  <main>

    {{ include('@App/Default/nav/user.html.twig') }}
    {{ include('@App/Default/parts/breadcrumb.html.twig') }}
    {{ include('@App/Default/parts/flashes.html.twig') }}

    {% block main_content %}{% endblock %}

    {{ include('@App/Default/parts/survey.html.twig') }}

    {{ include('@App/Default/parts/_searchModal.html.twig') }}

  </main>
{% endblock %}

{% block footer %}
  {{ include('@App/Default/footer/footer.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

