#formio,
.formio-form {
  //TODO remove and standardize font awesome 4 and 5
  .fa-times-circle-o:before {
    content: "\f057";
  }
  label {
    font-weight: 400;
    line-height: 1.5;
    overflow: visible;
  }

  .form-check {
    label {
      input[type='checkbox'],
      input[type='radio'] {
        margin-left: 0px;
        position: static;
        left: 0;
        opacity: 1;
        cursor: pointer;
      }

      span {
        margin-left: 0.8rem;
      }
    }
  }
}

label.required:after {
  content: " *";
  color: $danger;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='checkbox'],
input[type='radio'],
input[type='email'],
input[type='date'],
textarea,
.bootstrap-select {
  background: #fafafa;
}

select {
  background-color: #fafafa !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e6e9f2;
}

input.form-control::placeholder {
  color: #ccc;
}

.form-group {
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  label {
    position: relative;
    white-space: normal;

    &.active {
      transform: unset;
      font-size: inherit;
    }
  }
}

.formio-summary .form-group {
  padding-bottom: 0;
}

.formio_render {
  ul.craue_formflow_steplist > li:first-child.wizard {
    &:after {
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      width: 20px;
      border: 15px solid transparent;
      border-bottom: 15px solid #ddd;
      margin-top: 0.1rem;
      margin-left: -1rem;
    }
  }

  .btn-wizard-nav-submit,
  .btn-wizard-nav-previous,
  .btn-wizard-nav-cancel,
  .btn-wizard-nav-next {
    margin-top: 20px;
  }
}

.formio-form {

  .formio-choices {
    .form-control {
      box-shadow: none;
    }
  }

  nav {
    padding: 11px;
    background-color: #ddd;
    margin-bottom: 20px;
    text-align: center;

    .pagination {
      margin-bottom: 0 !important;

      .page-item{
        &.active{
          .page-link{
            background-color: $primary !important;
            border-color: $primary !important;
            color: #fff !important;
          }
        }
        .page-link{
          color: $primary;
        }
      }

      li {
        border: 1px solid #ccc;
        background-color: $white;

        &.active {
          background-color: $primary;

          span {
            color: $white;

            &:after {
              content: '';
              border: 7px solid transparent;
              border-left: 10px solid white;
              margin-left: 5px;
              margin-top: 3px;
            }
          }
        }

        &:last-child {
          &.active {
            span {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.choices {
  .selection {
    box-shadow: none;
    border-bottom: 1px solid #5c6f82;
  }

  &.is-open {
    &:after {
      margin-top: -18px !important;
    }
  }

  &:after {
    margin-top: -13px !important;
  }
}


textarea {
  background-color: #f6f6f6 !important;
  box-shadow: none !important;
}

@media (max-width: 380px) {
  .btn-wizard-nav-submit,
  .btn-wizard-nav-previous,
  .btn-wizard-nav-cancel,
  .btn-wizard-nav-next {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.45;
  }
}

#pratica-summary {
  .row {
    border-bottom: none !important;
  }
}

#formio, #formio_summary {
  .row {
    padding: 0 !important;
    background: none !important;
  }
}

.formio-front.formio-summary .d-preview-none {
  display: none;
}

@media print {
  .d-preview-none, .d-preview-none * {
    display: none !important;
  }
}

.label-datetime-field {
  background-color: transparent;
  font-weight: 600;
  line-height: calc(2.5rem - 1px);
  transition: 0.2s ease-out;
  top: 0;
  font-size: 1rem;
  cursor: text;
  display: block;
  max-width: 100%;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 0.5rem;
  color: #435a70;
}


#formio, #formio_summary, #backoffice-form, #builder {

  .formio-component {
    margin-bottom: 1.3rem;
  }

  .formio-component.formio-hidden {
    margin-bottom: 0;
  }

  table {
    .formio-component {
      margin-bottom: 0;
    }
  }

  .formio-component-columns.formio-component-label-hidden {
    margin-bottom: 0;
  }


  .form-group {
    padding-bottom: inherit;
  }

  .form-check-inline {
    margin-top: .5rem;
  }

  .form-check.checkbox {
    padding-left: 0;

    + .form-text.text-muted {
      padding-left: 2rem;

      + .formio-errors.invalid-feedback {
        padding-left: 1.5rem;
      }
    }

  }

  .form-check {
    padding-left: 1rem;

    + .form-text.text-muted {
      padding-left: 2rem;
    }

    + .form-text.error {
      padding-left: 1rem;
    }
  }

  .form-radio {
    padding-left: 1rem;

    + .formio-errors .error {
      padding-left: 2rem;
    }

    .form-check-inline {
      padding-left: 1rem;
    }

    + .form-text.text-muted{
      padding-left: 2.5rem;
    }
  }

  .formio-component-selectboxes{
    > .form-text.text-muted{
      padding-left: 1.5rem;
    }
  }

  .formio-read-only {
    .form-group.formio-hidden {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
